.App {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -9999;
}